

::-moz-selection { background: #363737; color: #fff; }
::selection { background: #363737; color: #fff; }


body {
	font-family: 'Karla', Arial, 'sans-serif';
	font-size: 12px;
	letter-spacing: 4px;
	text-transform: uppercase;
  background-color: #fff;
}


.bg-container {
  height: 100vh;
  width: 100%;

  /*background: url("../img/vinyl.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;*/

  background-color: #BDF0FF;
  border-left: 30px solid #fff;

  /*display: flex;
  justify-content: center;
  align-items: center;*/
}

/*video#bgvid {
  position: fixed; 
  right: 0; 
  top: 0;
  min-width: 100%; 
  min-height: 100%;
  width: auto; 
  height: auto; 
  z-index: -100;
  background-size: cover;
  opacity: 0.1;
  -webkit-filter: grayscale(50%);
  filter: grayscale(50%);
}*/


.black-block {
  position: absolute;
	display: flex;
	width: 100px;
	height: 100px;
	background-color: #333;
  top: 15px;
  left: -15px;
  justify-content: center;
  align-items: center;

}

.black-block img {
  width: 60px;
  height: 60px;
}

.middle {
  display: flex;
  width: 800px;
  height: auto;
  /*background-color: #fff;*/
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;

  /*-moz-box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.06);
  -webkit-box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.06);
  -o-box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.06);
  box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.06);*/
}

.type-wrap{
  color: #000;
  margin: 14px;
  margin-left: 190px;
  padding-top: 19px;
  padding-bottom: 19px;
  padding-left: 50px;
  padding-right: 50px;
  background: #fff;
  line-height: 60px;
  text-align: left;
  width: 800px;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 5px;
  border: 1px solid #fff;
  /*background: url("../img/dust.png");
  background-size: cover;
  background-position: center;
  border-top: 1px dashed #000;
  border-bottom: 1px dashed #000;*/
  border: 1px solid #fff;
}

.links{
	margin:20px 0;
	font-size: 0.75em;
	text-align: center;
}

/* code for animated blinking cursor */
.typed-cursor{
	opacity: 1;
	font-weight: 100;
	-webkit-animation: blink 0.7s infinite;
	-moz-animation: blink 0.7s infinite;
	-ms-animation: blink 0.7s infinite;
	-o-animation: blink 0.7s infinite;
	animation: blink 0.7s infinite;
}
@-keyframes blink{
	0% { opacity:1; }
	50% { opacity:0; }
	100% { opacity:1; }
}
@-webkit-keyframes blink{
	0% { opacity:1; }
	50% { opacity:0; }
	100% { opacity:1; }
}
@-moz-keyframes blink{
	0% { opacity:1; }
	50% { opacity:0; }
	100% { opacity:1; }
}
@-ms-keyframes blink{
	0% { opacity:1; }
	50% { opacity:0; }
	100% { opacity:1; }
}
@-o-keyframes blink{
	0% { opacity:1; }
	50% { opacity:0; }
	100% { opacity:1; }
}


.button-hire {
  float: right;
  position: absolute;
  bottom: 0px;
  right: 20px;
}

/* Nina */
.button--nina {
  font-family: 'Karla', Arial, sans-serif;
  padding: 0 2em;
  background-color: #E63856;
  color: #fff;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 6px;
  font-size: 12px;
  width: 170px;
  height: 50px;
  line-height: 28px;
  text-align: center;
  overflow: hidden;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}
.button--nina.button--inverted {
  background: #fff;
  color: #75A1A8;
}
.button--nina > span {
  display: inline-block;
  padding: 1em 0;
  opacity: 0;
  color: #fff;
  -webkit-transform: translate3d(0, -10px, 0);
  transform: translate3d(0, -10px, 0);
  -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s;
  -webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
  transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
}
.button--nina::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 1em 0;
  -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s;
  -webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
  transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
}
.button--nina:hover {
  background-color: #333 !important;
}
.button--nina:hover::before {
  opacity: 0;
  -webkit-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0);
}
.button--nina:hover > span {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.button--nina:hover > span:nth-child(1) {
  -webkit-transition-delay: 0.045s;
  transition-delay: 0.045s;
}
.button--nina:hover > span:nth-child(2) {
  -webkit-transition-delay: 0.09s;
  transition-delay: 0.09s;
}
.button--nina:hover > span:nth-child(3) {
  -webkit-transition-delay: 0.135s;
  transition-delay: 0.135s;
}
.button--nina:hover > span:nth-child(4) {
  -webkit-transition-delay: 0.18s;
  transition-delay: 0.18s;
}
.button--nina:hover > span:nth-child(5) {
  -webkit-transition-delay: 0.225s;
  transition-delay: 0.225s;
}
.button--nina:hover > span:nth-child(6) {
  -webkit-transition-delay: 0.27s;
  transition-delay: 0.27s;
}
.button--nina:hover > span:nth-child(7) {
  -webkit-transition-delay: 0.315s;
  transition-delay: 0.315s;
}
.button--nina:hover > span:nth-child(8) {
  -webkit-transition-delay: 0.36s;
  transition-delay: 0.36s;
}
.button--nina:hover > span:nth-child(9) {
  -webkit-transition-delay: 0.405s;
  transition-delay: 0.405s;
}
.button--nina:hover > span:nth-child(10) {
  -webkit-transition-delay: 0.45s;
  transition-delay: 0.45s;
}